.sidenav__c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  visibility: hidden;
  width: 25rem;
  border-right: 1px solid #919eab3d;
  height: 100vh;
  box-shadow: inset -1px 0px 0px rgba(145, 158, 171, 0.24);
  align-items: center;
  box-shadow: 36px -1px 104px 66px rgba(14, 49, 32, 0.75);
  -webkit-box-shadow: 36px -1px 104px 66px rgba(14, 49, 32, 0.75);
  -moz-box-shadow: 36px -1px 104px 66px rgba(14, 49, 32, 0.75);
  transition: width 2s;
}

.sidenav__c__active {
  visibility: visible;
}

.sidenav__profile__c {
  margin-top: 6rem;
  margin-bottom: 2.5rem;
}
.sidenav__sectionTitle__c {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-left: 40px;

  color: #212b36;
}
.sidenav__navSection__c {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .sidenav__c {
    visibility: hidden;
  }
}
